<footer id="anchor-footer" class="footer js-anim js-anim--opacity">
  <div class="container">

    {% include 'includes/back-to-top.njk' %}
     
    <div class="footer__wrapper">
      <div class="footer__row fl fl--not-mobile fl--between">
        <div class="footer__col _same-width">
          <div class="footer__address fs-14">
            <p>Санкт-Петербург, Владимирский пр., д. 3</p>
            <p>лит. А, офис 701</p>
          </div>
        </div>
        <div class="footer__col">
          <a href="tel:+78124456809" class="footer__phone fs-25 fw-700">+ 7 (812) 445-68-09</a>
        </div>
        <div class="footer__col _same-width">
          <a href="#" class="footer__request fs-14 c-red">Напишите нам</a>
        </div>
      </div>
    </div>
  </div>
</footer>