<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ПАН партнёр</title>
  <meta name="description" content="ПАН партнёр">
  <meta name="keywords" content="ПАН партнёр">
  <meta property="og:title" content="ПАН партнёр">
  <meta property="og:description" content="ПАН партнёр">
  <meta property="og:image" content="ПАН партнёр">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <link rel="shortcut icon" href="content/favicon.svg">
</head>

<body>
  <div class="preloader-page">
    <span>Загрузка...</span>
  </div>
  <style>
    .preloader-page{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1E2030;
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      color: #fff;
      animation: hidePreloader .7s 5s both;
    }
    .preloader-page span{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 10rem;
      height: 10rem;
    }
    .preloader-page span::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: dashed .2rem #fff;
      animation: preloader 4s linear infinite;
    }
    @keyframes preloader{
      from{
        transform: rotate(0deg);
      }
      to{
        transform: rotate(360deg);
      }
    }
    @keyframes hidePreloader{
      to{
        pointer-events: none;
        opacity: 0;
      }
    }
  </style>
  <div id="anchor-wrapper" class="wrapper">
    {% include 'includes/header.njk' %}
    <main class="page">
      {% block content %}{% endblock %}
    </main>
    {% include 'includes/footer.njk' %}
  </div>
  <script>
    let ua = window.navigator.userAgent;
    function isIE() {
      ua = navigator.userAgent;
      const isIe = ua.indexOf('MSIE ') > -1 || ua.indexOf('Trident/') > -1;
      return isIe;
    }
    if (isIE()) {
      document.documentElement.classList.add('internet-explorer');
    }
  </script>
</body>
</html>