<div class="goods slider-visible js-slider js-anim js-anim--opacity">
  <div class="swiper mb-50">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#" class="card-goods">
          <div class="card-goods__image item-response">
            <picture>
              <source type="image/webp" srcset="content/slider-01.webp">
              <img src="content/slider-01.jpg" alt="картинка">
            </picture>
          </div>
          <div class="card-goods__stars fl">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card-goods">
          <div class="card-goods__image item-response">
            <picture>
              <source type="image/webp" srcset="content/slider-02.webp">
              <img src="content/slider-02.jpg" alt="картинка">
            </picture>
          </div>
          <div class="card-goods__stars fl">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card-goods">
          <div class="card-goods__image item-response">
            <picture>
              <source type="image/webp" srcset="content/slider-03.webp">
              <img src="content/slider-03.jpg" alt="картинка">
            </picture>
          </div>
          <div class="card-goods__stars fl">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card-goods">
          <div class="card-goods__image item-response">
            <picture>
              <source type="image/webp" srcset="content/slider-01.webp">
              <img src="content/slider-01.jpg" alt="картинка">
            </picture>
          </div>
          <div class="card-goods__stars fl">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card-goods">
          <div class="card-goods__image item-response">
            <picture>
              <source type="image/webp" srcset="content/slider-02.webp">
              <img src="content/slider-02.jpg" alt="картинка">
            </picture>
          </div>
          <div class="card-goods__stars fl">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="card-goods">
          <div class="card-goods__image item-response">
            <picture>
              <source type="image/webp" srcset="content/slider-03.webp">
              <img src="content/slider-03.jpg" alt="картинка">
            </picture>
          </div>
          <div class="card-goods__stars fl">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star-filled.svg" alt="">
            <img class="card-goods__star" src="content/icons/icon-star.svg" alt="">
          </div>
        </a>
      </div>
    </div>
    <div class="buttons-slider fl fl--between">
      <button type="button" class="button-slider button-slider--prev fl fl--center">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.5 1.09033L1.5 6.09033L6.5 11.0903" stroke="currentColor" stroke-linecap="round"/>
        </svg>
      </button>
      <button type="button" class="button-slider button-slider--next fl fl--center">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.5 11.0903L5.5 6.09033L0.500001 1.09033" stroke="currentColor" stroke-linecap="round"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="pagination-slider fl fl--center-hor"></div>
</div>