<section class="intro section mb-80 fl">
    <div class="container fl fl--center-vert">
      <div class="intro__wrapper fl fl--between">
        <div class="intro__body">
          <h1 class="intro__title fs-48 fw-700 c-white mb-50">Недвижимость <br> Санкт-Петербурга <br> и&nbsp;Москвы</h1>
          <form action="#" novalidate class="form js-form">
            <div class="form__row fl fl--wrap">
              <div class="form__col">
                <div class="item-form">
                  <div class="item-form__title">Выбрать город</div>
                  <select class="select js-select">
                    <option data-placeholder="true">Выбрать город</option>
                    <option>Москва</option>
                    <option>Санкт-Петербург</option>
                    <option>Владивосток</option>
                    <option>Оренбург</option>
                  </select>
                </div>
              </div>
              <div class="form__col">
                <div class="item-form js-input-box">
                  <div class="item-form__title">Ваш e-mail <span>*</span></div>
                  <label class="item-form__label">
                    <input type="email" class="item-form__input" placeholder="info@mail.ru" data-required="email">
                  </label>
                  <div class="item-form__error">Поле заполнено некорректно</div>
                </div>
              </div>
            </div>
            <div class="form__btns mt-40">
              <button type="submit" class="btn _red js-form__submit">Кнопка действия</button>
            </div>
            <div class="form__policy mt-40">
              <label class="checkbox fl js-input-box">
                <input type="checkbox" class="checkbox__input" data-required="checkbox">
                <span class="checkbox__body fl fl--center">
                  <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 5.50622L0.854782 4.70642L5.04409 6.97786L12.2676 0.741211L13 1.40657L5.35976 10.7412L0 5.50622Z" fill="white"/>
                  </svg>
                </span>
                <span class="checkbox__text">Отправляя нам данную форму вы соглашаетесь с <a href="#">политикой конфиденциальности</a></span>
              </label>
            </div>
          </form>
        </div>
        <div class="intro__images">
          <div class="intro__image item-response">
            <img src="content/intro-img.svg" alt="">
          </div>
          <div class="intro__decor _one js-mouse-parallax" data-speed="20" data-reverse>
            <img src="content/intro-decor-01.svg" alt="">
          </div>
          <div class="intro__decor _two js-mouse-parallax" data-speed="25">
            <img src="content/intro-decor-02.svg" alt="">
          </div>
          <div class="intro__decor _three js-mouse-parallax" data-speed="50">
            <img src="content/intro-decor-03.svg" alt="">
          </div>
          <div class="intro__decor _four js-mouse-parallax" data-speed="50" data-reverse>
            <img src="content/intro-decor-04.svg" alt="">
          </div>
        </div>
      </div>
    </div>
</section>